@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
        font-size: 90%;
        font-family: "Open Sans", sans-serif;
        width:auto;
        color:black;
}

card-header {
  color: yellow;
}

.nav-tabs .nav-link:not(.active) {
  color: black;
}

.pagination>li.active>a {
  background-color: #6c757d !important;
  color: black;
  border: black;
  box-shadow: none !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: black;
    border-color: black;
    box-shadow: none !important;
}

.pagination .page-link {
    color: black;
    box-shadow: none !important;
}

.pagination > .active > a:hover
{
    border: black;
    box-shadow: none !important;
}



a {color: #6c757d}

a:hover {color: black}
